.gitignore
/.vs/*
/.vscode/*
hgjg.scmp
StaffManagementApp/bin/*
StaffManagementApp/obj/*
StaffManagementApp/.vscode/*
StaffManagementApp/.vs/*
StaffManagementDb/bin/*
StaffManagementDb/obj/*
StaffManagementDb/StaffManagementDb.sqlproj.user
StaffManagementDb/StaffManagementDb.dbmdl
StaffManagementDb/StaffManagementDb.jfm
StaffManagementAppAPI/bin/*
StaffManagementAppAPI/obj/*
StaffManagementAppAPI/StaffManagementAppAPI.csproj.user
StaffManagementAPIa/*
