.gitignore
/.vs/*
/.vscode/*
hgjg.scmp
StaffManagementApp/bin/*
StaffManagementApp/obj/*
StaffManagementApp/.vscode/*
StaffManagementApp/Database.zip
StaffManagementApp/.vs/*
StaffManagementDb/bin/*
StaffManagementDb/obj/*
StaffManagementDb/StaffManagementDb.sqlproj.user
StaffManagementDb/StaffManagementDb.dbmdl
StaffManagementDb/StaffManagementDb.jfm
StaffManagementAppAPI/bin/*
StaffManagementAppAPI/obj/*
StaffManagementAppAPI/StaffManagementAppAPI.csproj.user
StaffManagementAppAPI/publish/*
StaffManagementAppAPI/properties/*
StaffManagementLibrary/bin/*
StaffManagementLibrary/obj/*
StaffManagementFront/StaffManagementApp/*
StaffManagementLibrary/DbHandler.zip
