<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<add key="ConnectionStringSQLDb" value="Data Source=DESKTOP-6J5224R;Initial Catalog=StaffDB;User ID=sa;Password=sa123"/>
		<add key="SerializedFilename" value="ggg.json"/>
		<add key ="SerializeClassName" value="StaffManagementApp.Serialization.SerializationJSONHelper,StaffManagementApp.Serialization"/>
		<add key="DatabaseClassName" value="StaffManagementApp.Database.DatabaseSQLHandler,StaffManagementApp.Database"/>
	</appSettings>
</configuration>



<!--StaffManagementApp.Serialization.SerializationJSONHelper,StaffManagementApp.Serialization-->