<div [style.display]="hide" class="popup">
    <div class="popupformBackground">

    </div>
    <div class="popupform">
        <div class="background addUpdateform" id="staffForm">
            <div class="form" id="myform">
                <h1 id="staffFormType"></h1>
                <form class="formAdd">
                    <input type="hidden" [(ngModel)]="staff.staffid" required name="staffId" id="staffId">
                    <div class="form-group row p-2 ">
                        <label for="staffName" class="col-sm-2 col-form-label">Name</label>
                        <div class="col-sm-10">
                            <input [(ngModel)]="staff.staffName" required type="text" name="staffName" class="form-control w-75" id="staffName">
                        </div>
                    </div>
                    <div class="form-group row p-2">
                        <label for="staffAge" class="col-sm-2 col-form-label">Age</label>
                        <div class="col-sm-10">
                            <input [(ngModel)]="staff.staffAge" required type="number" min="20" max="80" class="form-control w-75" name="staffAge" id="staffAge">
                        </div>
                    </div>
                    <div class="form-group row p-2">
                        <label for="staffType" class="col-sm-2 col-form-label">Type</label>
                        <div class="col-sm-10">
                            <select (ngModelChange)="onStaffTypeChange($event)" [ngModel]="staff.staffType" required name="staffType" id="formStaffs" class="form-select w-75">
                                <option value="All">Select staff</option>
                                <option [selected]="staff==undefined? false:staff.staffType==item.key"
                                    *ngFor="let item of (staffTypes.staffs) | keyvalue " [value]="item.key">
                                    {{item.key}}</option>
                            </select>
                        </div>
                    </div>
                    <div class="form-group row p-2">
                        <label for="staffDepartment" class="col-sm-2 col-form-label" id="labelstaffDepartment">{{staff.departmentName}}</label>
                        <div class="col-sm-10">
                            <input [(ngModel)]="staff.department" required type="text" class="form-control w-75" name="staffDepartment" id="staffDepartment">
                        </div>
                    </div>

                    <button type="submit" class="btn btn-success" (click)="onSubmit(staff)">Submit</button>
                    <button type="button" class="btn btn-danger" (click)="closeForm()">Close</button>
                </form>

            </div>
        </div>
    </div>

</div>