<div>
    <div class="popupBackground">

    </div>
    <div class="popupdata">
        <div class="popupHeading">

        </div>
        <div class="popupHeading">
            <h1>Confirm {{popupType}}</h1>
        </div>
        <div class="popupMessage">
            {{popupMessage}}
        </div>
        <div class="popupButtons">
            <button class="btn btn-warning btn-lg  mx-3" (click)="executeFuction(true)">YES</button>
            <button class="btn btn-danger btn-lg mx-3" (click)="executeFuction(false)">NO</button>
        </div>
    </div>
</div>