<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<add key="ConnectionStringSQLDb" value="Data Source=DESKTOP-6J5224R;Initial Catalog=StaffDB;User ID=sa;Password=sa123"/>
		<add key="SerializedFilenameJSON" value="ggg.json"/>
		<add key="SerializedFilenameXML" value="ggg.xml"/>
		<add key ="SerializeClassName" value="StaffManagementLibrary.SerializationHandler.SerializationJSONHelper,StaffManagementLibrary"/>
		<add key="DatabaseClassName" value="StaffManagementLibrary.DbHandler.DatabaseSQLHandler,StaffManagementLibrary"/>
	</appSettings>
</configuration>



<!--StaffManagementApp.Serialization.SerializationJSONHelper,StaffManagementApp.Serialization-->