.staffTable {
    padding: 50px;
}

.tableHead:hover {
    cursor: pointer;
    background-color: antiquewhite;
    border-radius: 10px;
}

.tableRows {
    cursor: pointer;
}

.buttonColumn {
    width: 20px
}