<!-- <div class="float-end p-3 ">
    <button class="btn btn-primary" (click)="addStaff()">ADD STAFF</button><br>
    <button class="btn btn-danger" (click)="deleteStaff()">DELETE SELECTED STAFF</button>
</div>
<router-outlet></router-outlet> -->


<!-- <app-administrator (administratorToDelete)="deleteStaff($event)" (administratorToDeleteList)=" addToDeleteList($event) " (onUpdateStaffClick)=" updateStaff($event) " [administrators]=" Administrator ">
</app-administrator>
<app-support (supportToDelete)="deleteStaff($event)" (supportToDeleteList)=" addToDeleteList($event) " (onUpdateStaffClick)=" updateStaff($event) " [supporters]=" Support "></app-support> -->
<!-- <app-teacher (teacherToDelete)="deleteStaff($event)" (teacherToDeleteList)=" addToDeleteList($event) " (onUpdateStaffClick)=" updateStaff($event) " [teachers]=" Teacher ">
</app-teacher> -->